

{% element('snippets/breadcrumb') %}
<div id="product-page" class="product-page">
    <div class="produto-wrapper" itemscope itemtype="http://schema.org/Product">
        <section class="product__general-information">
            <div class="product__offer" >
                {% set percent = 100 - ( product.price_offer / product.price ) * 100 %}
                <span>-{{ percent|number_format }}%</span>
            </div>
            <div class="product-img" id="visualBlock">
                {{ productHelper.gallery() }}
            </div>
        </section>
        <section class="product__general-price-information price-shipping__block-bottom">
            <div class="price-shipping__block">
                <header class="header-infoproduct">
                    <div class="product-info__item">
                        <a href="https://www.barbarius.com.br/{{ product.brand }}" class="product-info__desc" target="_blank">{{ product.brand }}</a>
                    </div>
                    <h1 class="product__name " itemprop="name">{{ product.name }}</h1>
                    {% if product.ranking %}
                        <div class="product__rating-wrapper">
                            <span class="product__rating__stars" data-stars-count="{{ product.ranking.rating }}">
                            <span class="star{{ product.ranking.rating }}"></span><span class="ranking-nota-final"></span>
                            {% if product.ranking.rating < 1 %}
                                <span class="star{{ product.ranking.counting }}">Nenhuma avaliação</span>
                            {% endif %}
                            {% if product.ranking.rating > 1 %}
                                <span class="star{{ product.ranking.counting }}">{{product.ranking.rating}} Avaliações</span>
                            {% endif %}
                            </span>
                        </div>
                    {% endif %}
                
                    <form id="form_comprar" method="post" data-app="product.buy-form" action="{{ links.cart_add ~ product.id }}" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        {{ productHelper.pricing(price) }}
                        <div class="tag-freeshiping">
                            {% if product.additional_button %}
                                {% if Image('additional_button') %}
                                        <span class="free-shipping">{{ Image('additional_button') }}</span>
                                {% else %}
                                        <span class="free-shipping">Frete Grátis Sul e Sudeste</span>
                                {% endif %}
                            {% endif %}
                        </div>
                        {{ productHelper.gifts() }}
                        <span id="btnTeste" alt="" title="" class="pointer" data-tray-tst="choose_toast" onclick="selecionaBrinde('5','335','0')"></span>
                        <div class="product__variations">{{ productHelper.variants() }}</div>
                        <div class="product__kit">{{ productHelper.kit() }}</div>
                        {% if productHelper.form() %}
                            <div class="tray-product-form-wrapper">{{ productHelper.form() }}</div>
                        {% endif %}
                    </form>
                </header>

                {% element('snippets/regua_de_condicoes') %}
        </div>
        </section>

        <section id="ProdBlock" class="product__tabs col-xs-12 ">
            <a name="formaPagto"></a>
            <div id="descricao" class="prodBox dispblock drop">
                <div class="board">
                    <h3 class="triger_btn-tabs">{{ productTabs.description.description }}<svg class="cat__icon icon--arrow-bottom "><use xlink:href="#icon-arrow-bottom"></use></svg></h3>
                    <div class="board_htm description tabs_wrap" itemprop="description">
                        {{ product.description ? product.description : product.description_small }}
                    </div>
                </div>
            </div>
            <div id="coments" class="prodBox dispblock ">
                <h3 class="triger_btn-tabs">{{ productTabs.comments.description }}<svg class="cat__icon icon--arrow-bottom "><use xlink:href="#icon-arrow-bottom"></use></svg></h3>
                <div class="board tabs_wrap">{% element 'product/comments' %}</div>
            </div>
            <div id="itensInclusos" class="prodBox dispblock">
                <h3 class="triger_btn-tabs">Informações técnicas<svg class="cat__icon icon--arrow-bottom "><use xlink:href="#icon-arrow-bottom"></use></svg></h3>
                <div class="board tabs_wrap">
                    <p>{{ product.included_items }}</p>
                </div>
            </div>
            {{ productTabs.downloads.content }}
            <div data-app="product.payment-methods" id="formasPagto" class="prodBox dispblock" style="display:none;"></div>
        </section>
    </div>
    {% if productHelper.bundle %}
        <section class="product__bundle ">
            <h4 class="product__title">Compre Junto</h4>
            {{ productHelper.bundle }}
        </section>
    {% endif %}
    {% if product.related_products %}
        <section class="col-xs-12 product__related ">
            <h4  class="banners-extra__title title--main">Produtos Recomendados</h4>
            <div class="product__related ">
                {% element 'snippets/showcase' {"products": product.related_products } %}
            </div>
        </section>
    {% endif %}
    
    {% element 'snippets/showcaseproduct' %}

    {% if pages.current == 'catalog' %}
        <div id="prognoos_ib"></div>
        {% if settings.history_position == 1 %}
            <section class="products-visited col-sm-12">
                <h3 class="related-title">Últimos produtos visitados</h3>
                {% element 'snippets/history' {
                    'store.id': store.id,
                    'pages.current': pages.current,
                    'category.id': category.id
                } %}
            </section>
        {% endif %}
    {% endif %}
</div>

