<h1 class="hidden">Barbarius Drift - Tudo em acessórios e vestuario do mundo drift</h1>

<section class="categorias-principais">
    <ul class="categoria-principais_lista">
        {% for child in category.children %}
            {% if child.id == settings.nameCategory3 %}
                <li class="categoria-principais_lista-item" data-category-id="{{ child.id }}">
                    <a class="lista-item_links-principais" href="{{ category.link }}">
                        <span>
                            {{ child.name }}
                        </span>
                        <img src="{{asset (settings['banner-03']) }} " alt="{{category.name}}">
                    </a>
                </li>
            {% endif %}
            {% if child.id == settings.nameCategory4 %}
                <li class="categoria-principais_lista-item" data-category-id="{{ child.id }}">
                    <a class="lista-item_links-principais" href="{{ category.link }}">
                        <span>
                            {{ child.name }}
                        </span>
                        <img src="{{asset (settings['banner-04']) }} " alt="{{category.name}}">
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if not settings.nameCategory3%}
        <li class="categoria-principais_lista-item" data-category-id="{{ child.id }}">
            <a class="lista-item_links-principais" href="{{ category.link }}">
                <span>
                    {{ child.name }}
                </span>
                <img src="{{asset (settings['banner-03']) }} " alt="{{category.name}}">
            </a>
        </li>
        {%endif%}
        {% if not settings.nameCategory4%}
        <li class="categoria-principais_lista-item" data-category-id="{{ child.id }}">
            <a class="lista-item_links-principais" href="{{ category.link }}">
                <span>
                    {{ child.name }}
                </span>
                <img src="{{asset (settings['banner-03']) }} " alt="{{category.name}}">
            </a>
        </li>
        {%endif%}
    </ul>
</section>
<h1 class="hidden">Barbarius Drift - Tudo em acessórios e vestuario do mundo drift</h1>
<div class="container">
<!-- VITRINE 1 -->
{% if settings.sub02showCase1active > 0  %}
    <section class="showcase-carousel">
        {% if settings.sub02categories1 > 0  %}
            {% set products = Products({
                'filter': ['new', 'available'],
                'limit': settings.sub02quantidade1,
                'order': {
                    'stock': 'desc',
                },
                'categories': [ settings.sub02categories1 ]
            }) %}
        {% else %}
            {% set products = Products({
                'filter': ['new', 'available'],
                'limit': settings.sub02quantidade1,
                'order': {
                    'stock': 'desc',
                },
            }) %}
        {% endif %}
        {% element 'snippets/showcase' {
            "showcaseTitle": ' <div class="title-showcase"><h2 class="banners-extra__title title--main">' ~  settings.sub02vitrine1  ~ '</h2></div>',
            "products": products} %}
    </section>
{% endif %}
<section class="banners-extras">
    <div class="center banners-extras__center">
        <div class="banners-extras__item">
            {{ banner.extra1 }}
        </div> 
        <div class="banners-extras__item">
            {{ banner.extra2 }}
        </div>
        <div class="banners-extras__item">
            {{ banner.extra3 }}
        </div>
    </div>
</section>
<!-- VITRINE 2 -->
{% if settings.sub02showCase2active > 0  %}
    <section class="showcase-carousel">
        {% if settings.sub02categories2 > 0  %}
            {% set products = Products({
                'filter': ['available'],
                'limit': settings.sub02quantidade2,
                'order': {
                    'stock': 'desc',
                    'price': 'desc',
                },
                'categories': [ '68' ]
            }) %}
        {% else %}
            {% set products = Products({
                'filter': ['available'],
                'limit': settings.sub02quantidade2,
                'order': {
                    'stock': 'desc',
                },
            }) %}
        {% endif %}
        {% element 'snippets/showcase' {
            "showcaseTitle": ' <div class="title-showcase"><h2 class="banners-extra__title title--main">' ~  settings.sub02vitrine2  ~ '</h2></div>',
            "products": products} %}
    </section>
{% endif %}
<section class="banners-extras">
    <div class="center banners-extras__center">
        <div class="banners-extras__item">
            {{ banner.extra1 }}
        </div> 
        <div class="banners-extras__item">
            {{ banner.extra2 }}
        </div>
        <div class="banners-extras__item">
            {{ banner.extra3 }}
        </div>
    </div>
</section>
</div>
<div class="container">
 <!-- VITRINE 3 -->
{% if settings.sub02showCase3active > 0  %}
    <section class="showcase-carousel">
        {% if settings.categories3 > 0  %}
            {% set products = Products({
                'filter': ['available'],
                'limit': settings.sub02quantidade3,
                'order': rand,
                'order': {
                    'stock': 'desc',
                    'id': 'desc'
                },
                'categories': [ '223' ]
            }) %}
        {% else %}
            {% set products = Products({
                'filter': [settings.sub02filtros3],
                'limit': settings.sub02quantidade3,
                'order': settings.sub02ordem3,
                'order': {
                    'stock': 'desc',
                    'id': 'desc'
                },
            }) %}
        {% endif %}
        {% element 'snippets/showcase' {
            "showcaseTitle": ' <div class="title-showcase"><h2 class="banners-extra__title title--main">' ~  settings.sub02vitrine3  ~ '</h2></div>',
            "products": products} %}
    </section>
{% endif %}

<section class="banners-extras">
    <div class="center banners-extras__center">
        <div class="banners-extras__item">
            {{ banner.extra1 }}
        </div> 
        <div class="banners-extras__item">
            {{ banner.extra2 }}
        </div>
        <div class="banners-extras__item">
            {{ banner.extra3 }}
        </div>
    </div>
</section>
</div>
{% element 'snippets/brands' %}


</section>


